.row{
    margin-left:20px;
    color:white;
}
.row__posters{
    /* flex-row wise picture */
    display: flex;
    padding: 20px;
    /* the content overflow can be managed */
    overflow-x:scroll;
    /* content in y axis is hidden */
    overflow-y:hidden;
}
/* scrollbar in browser */
.row__posters::-webkit-scrollbar{
    width:10px;
}
.row__poster{
    width:100%;
    /* images contained in the div */
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row__posterLarge{
    max-height:250px;
}
.row__poster:hover{
    transform:scale(1.08);
}
